@page "/menu"
@using Web.Models
@using Web.Services
@inject PizzasService PizzasService
@inject CartService CartService
@inject NavigationManager NavigationManager
@inject HttpClient Http

<h1>Our Menu</h1>

@if (pizzas == null)
{
    <p>Loading pizzas...</p>
}
else
{
    <div class="menu-grid">
        @foreach (var pizza in pizzas)
        {
            <div class="pizza-card" key="@pizza.Id">

                <h2>@pizza.Name</h2>
                <img src="@GetPizzaImageUrl(pizza)" alt="@pizza.Name" class="pizza-image" />
                <p>@pizza.Description.Text</p>
                <p>Price: $@pizza.Price</p>
                <p>Weight: @pizza.Description.Weight gramm</p>
                <ul>
                    @foreach (var ingredient in pizza.Description.Ingredients)
                    {
                        <li>@ingredient</li>
                    }
                </ul>
                <button @onclick="() => AddToCart(pizza)">Add to Cart</button>
            </div>
        }
    </div>
}

<a href="/cart">View Cart</a>

@code {
    private Pizza[]? pizzas;

    protected override async Task OnInitializedAsync()
    {
        pizzas = await PizzasService.GetPizzasAsync();
    }

    private async void AddToCart(Pizza pizza)
    {
        await CartService.AddItemAsync(pizza);
        StateHasChanged();
    }

    private string GetPizzaImageUrl(Pizza pizza)
    {
        if (string.IsNullOrEmpty(pizza.PhotoPath) || pizza.PhotoPath == " ")
        return "/images/default-pizza.jpg"; 

        return new Uri(Http.BaseAddress, pizza.PhotoPath).AbsoluteUri;
    }
}